### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache


### VisualStudioCode template
.vscode/*


### JetBrains template
.idea


### macOS template
# General
.DS_Store

# Thumbnails
._*


### Others
