{% extends 'public/_layouts/_rightbar.html' %}

{% block title %} Students {% endblock %}

{% block body %}
  <section id="banner">
    <article>
      <div>
        <a href="{% url 'students:register' %}" class="">
          <h2 class="fa fa-user-plus">&nbsp;Register new student</h2>
        </a>
      </div>
    </article>
  </section>
  {# List of students by departments #}
  {% if department %}
    {# loop through all departments #}
    {% for dept in department %}
      {% if dept %}
        <!-- Department details -->
        <section id="banner">
          <header>
            <h2>{{ dept.first.get_department_display }} department</h2>
            <p><strong>{{ dept.count }}</strong> student(s) are listed here</p>
          </header>
        </section>
        <!-- Students -->
        <div class="carousel">
          <div class="reel">
            {% load staticfiles %}
            {% for student in dept %}
              {# Single student info #}
              <article>
                <a href="{% url 'students:detail' student.pk %}" class="image featured">
                  <img src="{% static student.image.url %}" width="368" height="256" alt="{{ student.name }}"/>
                </a>
                <header>
                  <h3><a href="{% url 'students:detail' student.pk %}">{{ student.name }}</a></h3>
                </header>
                <p>{{ student.matric }} - {{ student.department }}</p>
                <footer>
                  <!-- Delete -->
                  <form action="{% url 'students:delete' student.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="student_id" value="{{ student.id }}">
                    <button class="help-icon" title="delete">
                      <i class="fa fa-trash"></i>
                    </button>
                  </form>
                  <!-- Update -->
                  <form action="{% url 'students:update' student.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="student_id" value="{{ student.id }}">
                    <button class="help-icon" title="update">
                      <i class="fa fa-edit"></i>
                    </button>
                  </form>
                </footer>
              </article>
            {% endfor %}
          </div>
        </div>
      {% else %}
        <section id="banner">
          <header>
            <h2>No students found</h2>
            <p>This department has no students!</p>
          </header>
        </section>
      {% endif %}
    {% endfor %}
  {% else %}
    <section id="banner">
      <header>
        <h2>No students found</h2>
        <p>There are no students yet. <a href="{% url 'students:register' %}">Register a new student?</a></p>
      </header>
    </section>
  {% endif %}

{% endblock %}
