{% extends 'public/_layouts/_rightbar.html' %}

{% block title %} Update {% endblock %}

{% block body %}
  <div class="wrapper style1">
    <div class="container">

      <div class="row 200%">
        <!-- Main view -->
        <div class="8u 12u(mobile)">
          <article id="main">
            <header>
              <h2><a href="">Student's info update</a></h2>
              <p>Update {{ student.name }}'s details</p>
            </header>
            <form action="" method="POST" class="uniform" enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'students/_includes/_form.html' %}
              <footer>
                <input type="submit" value="Update" class="button">
              </footer>
            </form>
          </article>
        </div>
        <!-- Sidebar -->
        <div class="4u 12u(mobile)" id="sidebar">

        </div>
      </div>

      <hr>

    </div>
  </div>

{% endblock %}
