<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Tracking student's crime">
  <meta name="author" content="Victor I. Afolabi">
  <!-- <link rel="icon" href="../../favicon.ico"> -->
  <title> {% block title %}{% endblock %} &bull; Crime Tracker </title>
  {% load staticfiles %}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="left-sidebar">
<div id="page-wrapper">
  <!-- Header -->
  <div id="header">

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><a href="{% url 'public:index' %}">Home</a></li>
        <li>
          <a href="#">Admin</a>
          <ul>
            <li><a href="#">Suspects</a></li>
            <li><a href="#">Sunday Attendance</a></li>
            <li><a href="#">Monday Attendance</a></li>
          </ul>
        </li>
        <li><a href="{% url 'students:index' %}">Students</a></li>
        <li><a href="#">Chapel</a></li>
        <li><a href="{% url 'public:about' %}">About</a></li>
      </ul>
    </nav>

    <!-- Inner -->
    <div class="inner">
      <header>
        <h1><a href="/" id="logo">Crime Tracker</a></h1>
      </header>
    </div>

  </div>

  <!-- Banner -->
  <section id="banner">
    <header>
      <h2>Wesley University's crime tracker</h2>
      <p>
        The below listed students have been found guilty of at least one offense. And their names
        are yet to be cleared by the school administrator.
      </p>
    </header>
  </section>

  <!-- Carousel -->
  <section class="carousel">
    <div class="reel">
      {% load staticfiles %}
      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">John Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Jimmy Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Jane Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic04.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">John Smith</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic05.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Foo bar</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">John Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic02.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Jimmy Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic03.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Jane Doe</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic04.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">John Smith</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

      <article>
        <a href="#" class="image featured"><img src="{% static 'images/pic05.jpg' %}" alt=""/></a>
        <header>
          <h3><a href="#">Foo bar</a></h3>
        </header>
        <p>Stealing two laptops and three iPhones during Monday chapel 23/02/2017</p>
      </article>

    </div>
  </section>

{% include 'public/_includes/_footer.html' %}