<!-- Footer -->
<div id="footer">

  <div class="container">

    <div class="row">

      <div class="12u">

        <!-- Contact -->
        <section class="contact">
          <header>
            <h3>Wanna connect with us?</h3>
          </header>
          <p>Visit our <a target="_blank" href="http://wesleyuni.edu.ng/">official website</a> or contact us via...</p>
          <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Victor I. Afolabi. All rights reserved.</li>
            <li>Designer: <a href="https://github.com/victor-iyiola" target="_blank">GitHub</a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>

</div>

</div> <!-- End of #page-wrapper -->

{% load staticfiles %}
<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'js/jquery.onvisible.min.js' %}"></script>
<script src="{% static 'js/skel.min.js' %}"></script>
<script src="{% static 'js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>